
<div class="pm-schedule-container">
  <div class="pm-schedule-time-display">
    <div ng-repeat="(hourKey, hourVal) in ScheduleCtrl.hours" class="pm-day-hours-time-display"> 
      <div class="time-label">{{hourVal.label}}</div>
    </div>
  </div>
  <div class="pm-schedule-days-display">
    <div ng-class="{fixed: ScheduleCtrl.fixDayTitles}" class="pm-days-display">
      <div class="pm-days-display-container">
        <div ng-repeat="(dayKey, dayVal) in ScheduleCtrl.days" class="pm-day-title">{{dayVal.name}}</div>
      </div>
    </div>
    <div ng-repeat="(dayKey, dayVal) in ScheduleCtrl.days" ng-class="{weekend: dayVal.weekend}" class="pm-schedule-day">
      <div class="pm-day-title-spacer"> </div>
      <div ng-dblclick="ScheduleCtrl.addEvent({day: dayVal, hour: hourVal})" ng-repeat="(hourKey, hourVal) in ScheduleCtrl.hours" class="pm-hour"> </div>
      <div class="pm-event-holder">
        <div ng-repeat="(profileKey, profileVal) in ScheduleCtrl.scheduleDisplay[dayVal.key]" ng-class="{continued: profileVal.continued}" style="height:{{profileVal.height}}px; top:{{profileVal.top}}px" class="pm-profile-listing">
          <div class="profile-inner-display">
            <div style="background-color: {{profileVal.profileDetails.color}}" class="profile-inner-display-color"></div>
            <div class="profile-inner-display-text">
              <div ng-click="ScheduleCtrl.editEvent()" ng-hide="profileVal.continued" class="profile-detail tag profile link"> <i class="fa fa-dot-circle-o"></i><span>{{profileVal.profileDetails.name}} {{profileVal.desc}}</span></div>
              <div ng-show="profileVal.continued" class="profile-detail tag profile"> <i class="fa fa-dot-circle-o"></i><span>{{profileVal.profileDetails.name}} {{profileVal.desc}}</span></div><span ng-hide="profileVal.continued">
                <div class="profile-detail tag spotify"> <i class="fa fa-spotify"></i><span>{{profileVal.profileDetails.spotify}}</span></div>
                <div class="profile-detail tag dropbox"> <i class="fa fa-dropbox"></i><span>{{profileVal.profileDetails.dropboxLabel}}</span></div></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>