div(class="pm-super-parent")
	div(class="pm-top-nav")
	div(class="pm-left-nav")
		ul(class="pm-left-menu")
			li(ng-repeat="(k,v) in MediaCtrl.menu" ng-class="{active: MediaCtrl.isMenuItemActive(v)}") 
				a(ui-sref="{{v.sref}}")
					span(class="menu-icon")
						i(class="{{v.icon}}") 
					span(class="menu-text") {{v.name}}
	div(class="pm-content-superparent")
		div(class="pm-page-title") 
			span(class="pm-page-icon")
				i(class="{{MediaCtrl.currentPageIcon}}") 
			span(class="pm-page-text") {{MediaCtrl.currentPageTitle}}
		div(class="pm-content" ui-view="pm-content")